- provide(:title, 'Home')
.column.container.is-desktop.is-12
  %section.hero.is-primary.rounded
    .hero-body
      .container.has-text-centered
        %h1.title GradesUp
.columns
  .column.is-4.is-offset-3#slogan-home-right
    %h1.is-size-2#slogan-home-right Motivated by
    %h2.is-size-4 Modern Student Life
  .column.is-4
    %figure.image.is-square
      = image_tag 'home_left', id: 'image-home-left'
