- provide(:title, 'Home')
.columns
  .column.is-4.is-offset-3.is-vcentered
    %h1.is-size-2 Motivated by
    %h2.is-size-4 Modern Student Life
  .column.is-4
    %figure.image.is-square
      = image_tag 'home_left', id: 'image-home-left'
