%section.section
  = form_tag '/lessons/remove', method: 'post' do
    %h2.title= title
    .field
      .control
        .select.is-primary
          = select_tag :lesson, options_from_collection_for_select(lessons, :id, :name)
          %input.button.is-primary{type: 'submit'}
