%section.section
  .content
    %h2.title= title
    %ul.add-lessons
      - lessons.each do |les|
        %li
          %i.fa.fa-check.has-text-primary
          = les.name
  = form_tag '/lessons/remove', method: 'post' do
    .field
      .control
        .select.is-primary
          = select_tag :lesson, options_from_collection_for_select(lessons, :id, :name)
          %input.button.is-primary{type: 'submit'}
