%div.container
  = render partial: 'selection', locals: {title: 'Βασικής Επιλογής', lessons: @basics }
  = render partial: 'selection', locals: {title: 'Γενικής Επιλογής', lessons: @generals }
  = render partial: 'selection', locals: {title: 'Ειδικής Επιλογής', lessons: @specials }
  = render partial: 'selection', locals: {title: 'Πτυχιακή Εργασία', lessons: @thesis }
