/*
 *= require_tree .
 *= require_self
 */
 $blue: #008ed6;

 $primary: $blue;

 @import "bulma";
@import "font-awesome-sprockets";
@import "font-awesome";



.logo{
  height: 40px;
  width: 40px;
  border-radius: 20%;
}
.rounded{
  border-radius: 8px;
}
#nav{
  padding-left: 5px;
}

#image-home-left{
  border-radius: 8px;
  margin-right: 120px;
}

#slogan-home-right{
  vertical-align: middle;
}
