// Place all the styles related to the lessons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//Mixins
@import 'bulma';
@import 'bulma-tooltip/tooltip';
@import 'jquery.easy-pie-chart';
@mixin vertical-alignment($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.add-lessons{
  margin: 10px 10px 10px 0px !important;
  list-style: none !important;
  padding-left: 0 !important;
}
.grader{
  min-height: 600px;
  h5.subtitle{
    font-size: 1rem;
  }
}

#grades_submit{
  margin-right: -20px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  z-index: 999;
  box-shadow: 0px 2px 5px #666;
}
nav.level.stats{
  margin: 10px;
}

hr.major {
  height: 10px;
  border-style: solid;
  border-color: $light;
  border-width: 1px 0 0 0;
  border-radius: 20px;
  background-color: darken($light, 10%);
}
hr.major:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: $light;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

#status-table{
  border-radius: 10px;
  text-align: center;
}

strong.bright{
  background-color: $light;
  border-radius: 10px;
  border: 2px solid $grey;
  padding: 5px 10px 5px 10px;
}
.box-container{
  display: flex !important;
  align-items: center;
  .box{
    h3{
      font-size: 20px;
      font-weight: 800;
      letter-spacing: 2px;
      padding: 10px 0 10px 0;
    }
    width: 90%;
    height: 90%;
    align-self: center;
    margin: auto;
  }
}
