// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#all{
  min-height: 600px;
}
.carousel{
  margin-top: 20px;
  margin-bottom: 20px;
  .box{
    margin: 10px !important;
  }
}
.pagination-link{
  button{
    border: none;
    background-color: #fff;
    color: #008ed6;
  }
}
